<div class="modal fade" id="modal-agregar-seguimiento-especialidad" aria-hidden="true" style="display: none;">
  <div class="modal-dialog modal-xl modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Agregar seguimiento a especialidad</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-lg-5 col-sm-12">
            <form class="form-horizontal">
              <div class="card-body" style="padding: 0;">
                <div class="form-group row">
                  <label for="especialidad-sin-seguimiento"
                         class="col-sm-4 col-form-label text-right">Especialidad</label>
                  <div class="col-sm-8">
                    <select class="form-control" id="especialidad-sin-seguimiento">
                      <option value="">Seleccionar</option>
                    </select>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="seguimiento-fecha-programada-esp" class="col-sm-4 col-form-label text-right">Programar
                    fecha</label>
                  <div class="col-sm-8">
                    <input type="date" class="form-control" name="" id="seguimiento-fecha-programada-esp">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="tipo-seg-esp" class="col-sm-4 col-form-label text-right">Tipo</label>
                  <div class="col-sm-8">
                    <select class="form-control" id="tipo-seg-esp">
                      <option value="">Seleccionar</option>
                      <option value="S">Servicio</option>
                      <option value="V">Venta</option>
                    </select>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="observacion-seg-esp" class="col-sm-4 col-form-label text-right">Observación</label>
                  <div class="col-sm-8">
                    <textarea class="form-control" id="observacion-seg-esp" cols="30" rows="5" style="width: 100%;"></textarea>
                  </div>
                </div>
                <div class="form-group d-flex flex-row-reverse ">
                  <button id="btn-agregar-fecha-esp" class="btn btn-sm btn-primary col-8">Agregar Fecha</button>
                </div>
              </div>
            </form>
          </div>
          <div class="col-lg-7 col-sm-12">
            <div class="card-body table-responsive p-0">
              <table id="tabla-pre-fechas-programadas-seg-especialidades"
                     class="table table-head-fixed">
                <thead>
                <tr>
                  <th>Fecha programada</th>
                  <th>Observación</th>
                  <th>Tipo</th>
                  <th>Eliminar</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
              </table>
            </div>
          </div>
        </div>

      </div>
      <div class="modal-footer text-right">
        <button type="button" class="btn btn-primary" id="btn-guardar-seg-especialidades">Guardar</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
      </div>
    </div>
  </div>
</div>