<div class="modal fade" id="modal-historial" aria-hidden="true" style="display: none;">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Historial de seguimiento</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="card-body">
          <div id="tabla-historial-buttons"></div>
          <table id="tabla-historial" class="table table-bordered table-striped dataTable dtr-inline no-footer collapsed"
                 aria-describedby="tabla-historial_info">
            <thead>
            <tr>
              <th class="sorting" tabindex="0" aria-controls="tabla-historial" rowspan="1" colspan="1">
                Enfermedad
              <th class="sorting" tabindex="0" aria-controls="tabla-historial" rowspan="1" colspan="1">
                Tipo
              </th>
              <th class="sorting" tabindex="0" aria-controls="tabla-historial" rowspan="1" colspan="1">
                Descripción
              </th>
              <th class="sorting " tabindex="0" aria-controls="tabla-historial" rowspan="1" colspan="1">
                Observacion
              </th>
              <th class="sorting" tabindex="0" aria-controls="tabla-historial" rowspan="1" colspan="1">
                Resultado
              </th>
              <th class="sorting" tabindex="0" aria-controls="tabla-historial" rowspan="1" colspan="1">
                Fecha programada
              </th>
              <th class="sorting" tabindex="0" aria-controls="tabla-historial" rowspan="1" colspan="1">
                Fecha notificación
              </th>
            </tr>
            </thead>
            <tbody>

            </tbody>
          </table>
        </div>
        <div class="modal-footer text-right">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
</div>